@import '../../assets/variables.scss';

.SwiperContainer {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    
    @include breakpoint(desktop) {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(2, auto);
        column-gap: 20px;
        row-gap: 40px;
    }

    >.swiper-container {
        width: 100%;

        @include breakpoint(desktop) {
            grid-row: 1;
            grid-column: 1 / span 10;

            width: 100%;
        }
    }

    &-controllers {
        width: 100%;
        height: fit-content;

        margin-top: 40px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: flex-start;
        align-items: center;

        @include breakpoint(tablet) {
            width: 320px;
            place-self: center;
        }

        @include breakpoint(desktop) {
            width: 100%;
            grid-row: 2;
            grid-column: 4 / span 4;
            margin-top: 0;
        }

        @include breakpoint(large_desktop) {
            grid-row: 2;
            grid-column: 5 / span 2;
        }
    }

    &-pagination {
        width: auto;
        height: auto;
        padding: 4px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: flex-start;
        align-items: center;

        >span {
            margin-right: 6px;
        }

        >:last-child {
            margin: 0;
        }
    }
}

.swiper-pagination-bullet {
    background: $color-valeria-100 !important;
    transition: ease-in-out all .2s;
}

.swiper-pagination-bullet-active {
    transform: scale(1.3);
}