@import '../../assets/variables.scss';

.SwiperContainer{
    width: 100%;
    height: auto;

    &-controllers{
        width: 100%;
        height: auto;

        margin-top: 40px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: flex-start;
        align-items: center;
    }

    &-pagination{
        width: auto;
        height: auto;
        padding: 4px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: flex-start;
        align-items: center;

        >span{
            margin-right: 6px;
        }

        >:last-child{
            margin: 0;
        }
    }
}

.swiper-pagination-bullet{
    background: $color-valeria-100 !important;
    transition: ease-in-out all .2s;
}

.swiper-pagination-bullet-active{
    transform: scale(1.3);
}