@import '../../assets/variables.scss';

.PlaceholderCard{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    @include breakpoint(tablet) {
        width: 320px;
        place-self: center;
    }

    @include breakpoint(desktop) {
        width: 420px;
    }

    >img {
        width: 100%;
        height: auto;

        border-radius: 8px;

        margin-bottom: 16px;
    }

    >h4 {
        font-family: $font-title;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 110%;

        color: $color-black;
        width: 100%;
        margin-bottom: 16px;
    }

    >p {
        font-family: $font-text;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;

        color: $color-black;
        width: 100%;
    }

    &-negative{
        >h4 {
            color: $color-white;
        }
    
        >p {
            color: $color-white;
        }
    }
}