@import '../../assets/variables.scss';

.Button {
    padding: 12px 20px;
    background-color: $color-valeria-100;
    border-radius: 8px;
    border: none;
    color: $color-white;
    transition: .2s ease-in-out background-color;

    font-family: $font-title;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;

    cursor: pointer;

    &:hover {
        background-color: $color-aguacate-100;
    }
}

.BackButton {
    padding: 4px;
    border-radius: 8px;
    border: none;

    background-color: $color-gray-05;

    transition: .2s ease-in-out background-color;

    cursor: pointer;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;

    font-family: $font-text;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;

    color: $color-black;
    width: fit-content;

    &:hover {
        background-color: $color-valeria-40;
    }

    >svg {
        margin-right: 8px;

        >path {
            stroke: $color-black;
        }
    }
}

.GithubButton{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    padding: 16px;

    width: fit-content;
    height: fit-content;

    background-color: $color-black;
    border-radius: 4px;

    transition: .2s ease-in-out all;

    text-decoration: none;

    &:hover{
        background-color: $color-aguacate-100;
    }

    >svg{
        width: 20px;
        height: 20px;

        >path{
            stroke: $color-white;
        }
    }
}

.BehanceButton{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    padding: 16px;

    width: fit-content;
    height: fit-content;

    background-color: $color-black;
    border-radius: 4px;

    transition: .2s ease-in-out all;

    text-decoration: none;

    &:hover{
        background-color: $color-aguacate-100;
    }

    >svg{
        width: 20px;
        height: 20px;

        >path{
            fill: $color-white;
        }
    }
}

.LinkButton {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;

    column-gap: 12px;
    width: fit-content;
    height: fit-content;

    padding: 16px 20px;

    background-color: $color-valeria-100;
    border-radius: 4px;

    font-family: $font-text;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 110%;

    color: $color-white;

    transition: .2s ease-in-out all;

    text-decoration: none;

    &:hover{
        background-color: $color-aguacate-100;
    }

    >svg{
        width: 20px;
        height: 20px;

        >path{
            stroke: $color-white;
        }
    }
}