@import '../../assets/variables.scss';

.About {
    width: 100%;
    height: auto;

    &-top {
        background-color: $color-white;
        width: 100%;
        min-height: 90vh;
        height: auto;
        padding: 40px $padding-tablet;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: flex-start;

        @include breakpoint(tablet) {
            padding: 40px $padding-web;
        }

        @include breakpoint(desktop) {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: 1fr repeat(3, auto) 1fr;
            column-gap: 20px;
        }

        @include breakpoint(large_desktop) {
            padding: 60px $padding-web;
        }

    }

    &-img {
        width: 100%;
        margin-bottom: 40px;

        border-radius: 8px;

        @include breakpoint(tablet) {
            max-width: 420px;
            place-self: center;
        }

        @include breakpoint(laptop) {
            margin-bottom: 40px;
        }

        @include breakpoint(desktop) {
            grid-column: 8 / span 4;
            grid-row: 2 / 5;

            margin-bottom: 0;
        }

        @include breakpoint(large_desktop) {
            font-size: 20px;
            max-width: 520px;
        }

    }

    &-title {
        font-size: 28px;
        line-height: 120%;
        color: $color-black;
        font-family: $font-title;
        font-weight: 700;

        margin-bottom: 20px;

        @include breakpoint(desktop) {
            grid-column: 2 / 7;
            grid-row: 2 / 3;

            place-self: end start;
        }

        @include breakpoint(large_desktop) {
            font-size: 36px;
        }
    }

    &-text {
        color: $color-black;
        font-family: $font-text;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        text-align: justify;

        margin-bottom: 40px;

        >span {
            color: $color-valeria-100;
            font-weight: 600;
        }

        @include breakpoint(desktop) {
            grid-column: 2 / 7;
            grid-row: 3 / 4;

            place-self: start stretch;
        }

        @include breakpoint(large_desktop) {
            font-size: 20px;
        }

    }

    &-location {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        align-items: center;

        >img {
            width: 24px;
            margin-right: 16px;
        }

        >p {
            font-size: 18px;
            line-height: 120%;
            color: $color-black;
            font-family: $font-text;
            font-weight: 400;

            @include breakpoint(large_desktop) {
                font-size: 20px;
            }
        }

        @include breakpoint(desktop) {
            grid-column: 2 / 7;
            grid-row: 4 / 5;

            place-self: start start;
        }
    }

    &-sliders {
        background-color: $color-black;
        width: 100%;
        height: auto;

        display: grid;
        row-gap: 40px;
        padding: 40px $padding-tablet;

        @include breakpoint(laptop) {
            padding: 0 $padding-web;
            padding-bottom: 40px;

            grid-template-columns: repeat(10, 1fr);
            column-gap: 20px;
        }

        @include breakpoint(desktop) {
            grid-template-columns: repeat(12, 1fr);
        }

        .SwiperCard:nth-child(1) {

            @include breakpoint(laptop) {
                grid-column: 3 / 9;
            }

            @include breakpoint(desktop) {
                grid-column: 1 / 7;
            }

            @include breakpoint(large_desktop) {
                grid-column: 2 / 7;
            }
        }

        .SwiperCard:nth-child(2) {

            @include breakpoint(laptop) {
                grid-column: 3 / 9;
            }

            @include breakpoint(desktop) {
                margin-top: 60px;
                grid-column: 7 / 13;
            }

            @include breakpoint(large_desktop) {
                margin-top: 88px;
                grid-column: 7 / 12;
            }
        }
    }
}