@import '../../assets/variables.scss';

.NavMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    row-gap: 16px;

    @include breakpoint(tablet) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        align-content: center;

        row-gap: 0;
    }

    &-item{
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        padding: 8px 16px;

        background-color: $color-white;
        border-radius: 8px;

        cursor: pointer;

        transition: .2s ease-in-out background-color;

        &:hover{
            background-color: $color-aguacate-10;
        }

        >h3{
            font-size: 16px;
            font-weight: 600px;
            font-family: $font-text;
            line-height: 120%;
            color: $color-black;

            @include breakpoint(tablet) {
                font-size: 12px;
            }

            @include breakpoint(laptop) {
                font-size: 16px;
            }
        }

        >span{
            margin-left: 10px;
            padding: 4px 8px;

            font-size: 12px;
            font-weight: 600px;
            font-family: $font-text;
            line-height: 120%;
            color: $color-aguacate-100;

            background-color: $color-aguacate-10;
            border-radius: 8px;

            @include breakpoint(tablet) {
                font-size: 10px;
            }

            @include breakpoint(laptop) {
                font-size: 12px;
            }
        }
    }
}