@import '../../assets/variables.scss';

.Contact {
    width: 100%;
    height: auto;

    &-top {
        width: 100%;
        min-height: 90vh;
        height: auto;
        display: grid;
        padding: 20px $padding-tablet;

        @include breakpoint(laptop) {
            padding: 0 $padding-web;
        }
    }

    &-container {
        background-color: $color-valeria-05;
        border-radius: 8px;

        display: grid;
        align-self: stretch;
        grid-template-rows: 1fr repeat(5, auto) 1fr;
        row-gap: 40px;

        >h3 {
            display: grid;
            grid-row: 2 / 3;
            place-self: center;
            grid-template-rows: auto auto;

            font-family: $font-title;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 105%;
            text-align: center;

            color: $color-black;

            width: auto;

            >span {
                color: $color-valeria-100;
            }
        }

        >p {
            font-family: $font-text;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 120%;
            text-align: center;
            color: $color-black;
            width: 100%;
            grid-row: 3 / 4;
            place-self: center;

            >a {
                font-weight: bold;
                text-decoration: underline;
                color: $color-black;
                transition: ease-in-out all .2s;

                &:hover {
                    color: $color-valeria-100;
                }
            }
        }

        >div {
            width: 100%;
            grid-row: 4 / 5;
            height: auto;

            padding: 0 32px;

            display: grid;
            grid-template-rows: 1fr 1fr;
            row-gap: 24px;

            &:last-child {
                margin: 0 !important;
            }
        }

        >h4 {
            font-family: $font-title;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 120%;
            color: $color-black;
            grid-row: 5 / 6;

            padding: 0 32px;
        }

        >form {
            grid-row: 6 / 7;
        }
    }

    &-item {
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;

        >span {
            padding: 12px;
            background-color: $color-white;
            border-radius: 50%;

            margin-right: 16px;
            display: flex;

            >img {
                width: 20px;
                height: 20px;
            }

            box-shadow: 0px 8px 12px rgba($color-valeria-100, 0.05);
        }

        >p {
            font-family: $font-text;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 120%;
            color: $color-black;
        }
    }

    &-form {
        width: 100%;
        padding: 0 32px;

        display: flex;
        flex-direction: column;
    }

    &-input {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 16px 24px;

        background-color: $color-white;
        border: none;
        border-radius: 4px;

        margin-bottom: 20px;

        color: $color-black;

        font-family: $font-text;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 120%;

        &::placeholder {
            color: $color-gray-60;
        }

        &:focus {
            border: 2px solid $color-valeria-100 !important;
        }

    }

    &-button {
        background-color: $color-valeria-100;
        border: none;

        border-radius: 4px;

        transition: .2s ease-in-out all;
        padding: 16px 24px;

        font-family: $font-text;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 110%;

        color: $color-white;

        &:hover {
            background-color: $color-aguacate-100;
        }
    }
}