@import '../../assets/variables.scss';

.Blog{
    width: 100%;
    height: auto;

    &-top{
        display: grid;
        width: 100%;
        min-height: 90vh;
        height: auto;

        padding: 20px $padding-tablet;

        @include breakpoint(laptop){
            padding: 0 $padding-web;
        }
    }

    &-container{
        background-color: $color-valeria-05;
        border-radius: 8px;

        width: 100%;
        height: auto;

        display: grid; 
        align-self: stretch;
        grid-template-rows: 1fr auto auto 1fr; 
    
        @include breakpoint(laptop){
            padding: 0 $padding-web;
        }

        >img{
            width: 70%;
            max-width: 260px;

            margin-bottom: 40px;

            display: grid;
            grid-row: 2 / 3;
            place-self: center;
        }

        >h3{
            display: grid;
            grid-row: 3 / 4;
            place-self: center;
            grid-template-rows: auto auto; 

            font-family: $font-title;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 105%;
            text-align: center;

            color: $color-black;

            width: auto;

            >span{
                color: $color-valeria-100;
            }
        }
    }
}