@import '../../assets/variables.scss';

.ProfileLinks {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

    &-title {
        font-family: $font-text;
        color: $color-black;
        font-size: 12px;
        font-weight: 600;
        line-height: 160%;

        margin-right: 12px;
    }

    &-line {
        width: 2px;
        height: 16px;
        background-color: $color-black;

        margin-right: 12px;
    }

    &-links {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }

    &-link {
        margin-right: 12px;
        width: 16px;
        height: 16px;

        transition: .2s ease-in-out all;

        &:last-of-type {
            margin-right: 0;
        }

        &:hover {
            >.ProfileLinks-icon {
                >path {
                    stroke: $color-aguacate-100;
                }
            }

            >.ProfileLinks-iconVariant {
                >path {
                    fill: $color-aguacate-100;
                }
            }
        }
    }

    &-icon {
        width: 100%;
        height: 100%;

        >path {
            transition: .2s ease-in-out all;
            stroke: $color-black;
        }
    }

    &-iconVariant {
        width: 100%;
        height: 100%;

        >path {
            transition: .2s ease-in-out all;
            fill: $color-black;
        }
    }
}