@import '../../assets/variables.scss';

.WebMenu{
    width: 100%;

    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;

    background-color: $color-white;

    /* mobile styles */
    &-mobileMenu{
        width: 100%;

        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;

        padding: 16px 20px;

        .ProfileLinks{
            margin-bottom: 40px;
        }
    }

    &-mobileContent{
        width: 100%;
        padding: 20px;
        height: fit-content;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    &-mobileLogo{
        width: 30px;
        height: 30px;

        >img{
            width: 100%;
        }
    }

    &-mobileTitle{
        font-family: $font-title;
        font-size: 16px;
        line-height: 120%;
        color: $color-black;
        font-weight: 600;
    }

    &-iconContainer{
        width: 24px;
        height: 24px;

        >img{
            width: 100%;
        }
    }

    @include breakpoint(tablet) {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding: 21px $padding-tablet;
    }

    @include breakpoint(laptop) {
        padding: 21px $padding-web;
    }

    /* web styles */
    &-context{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }

    &-Logo{
        width: 32px;
        height: 32px;

        margin-right: 20px;

        @include breakpoint(tablet) {
            margin-right: 12px;
        }

        @include breakpoint(laptop) {
            margin-right: 20px;
        }

        >img{
            width: 100%;
        }
    }

    &-title{
        font-size: 16px;
        font-weight: 700;
        color: $color-black;
        font-family: $font-title;

        @include breakpoint(laptop) {
            font-size: 20px;
        }
    }
}